*{
    box-sizing: border-box;
}

body{
    margin-top: 67px;
    padding: 0 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #293845;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

img {
    width: 145px;
    height: 209px;
    background-color: #ffffff;
    padding: 8px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.gridContainer{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-row-gap: 10px;
    width: 420px;
    justify-items: center;
  align-items: center;
}

.containerSelectMovie {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}